<h1>edit</h1>
<div class="comment">
  <div class="commentbox">
    <%= form_for @photopost do |f| %>
      <%= f.label :comment %>
      <%= f.text_area :comment, id: :photopost_comment, class: 'form-control' %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
    <%= link_to 'Back', @photopost %>
    <%= link_to 'Photo Index', photoposts_path %>
</div>
