<h1>edit</h1>
<%= form_for @photopost do |f| %>
  <%= f.label :comment %>
  <%= f.text_area :comment, id: :photopost_comment, class: 'form-control' %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
<br>
  <%= link_to 'Show', @photopost, :style=>"color:purple;" %>
  <%= image_tag "insta.png", size: '60x60' %>
  <%= link_to 'Index', photoposts_path, :style=>"color:purple;" %>
