<div id="js-ajax-wraper">
  <% if photopost.like_user(current_user.id) %>
    <%= button_to photopost_like_path(photopost.likes.first, photopost_id: photopost.id), method: :delete, id: "like-button", remote: true do %>
    <%= image_tag("icon_red_heart.png") %>
    <span>
    <%= photopost.likes_count %>
    </span>
  <% end %>
<% else %>
  <%= button_to photopost_likes_path(photopost_id: photopost.id), id: "like-button", remote: true do %>
    <%= image_tag("icon_heart.png") %>
    <span>
      <%= photopost.likes_count %>
    </span>
  <% end %>
<% end %>
</div>
