<div class="like-link" id=<%= "like-link-#{photopost.id}" %>>
  <% if current_user.likes.find_by(photopost_id: photopost.id) %>
    <%= link_to unlike_path(photopost.id), method: :delete, remote: true do %>
    <div class="btn btn-default glyphicon glyphicon-heart" id=<%= "heart-#{photopost.id}" %>>
      <%= photopost.likes.count.to_s %>
    </div>
    <% end %>
  <% else %>
    <%= link_to like_path(photopost.id), method: :post, remote: true do %>
    <div class="btn btn-default glyphicon glyphicon-heart-empty" id=<%= "heart-#{photopost.id}" %>>
      <%= photopost.likes.count.to_s %>
    </div>
    <% end %>
  <% end %>
</div>
