<div class="center">
  <%= image_tag @photo.picture, class: 'big-item' if @photo.picture.present? %>
  <p>
  <%= @photo.comment %>
  </p>  
  <br>
  <%= link_to 'edit', edit_photo_path(@photo), :style=>"color:purple;" %> 
  <%= image_tag "insta.png", size: '60x60' %>
  <%= link_to 'back', '/', :style=>"color:purple;" %>
</div>
